**/credentials.*
**/target/
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store
.pipeline/commonPipelineEnvironment
default-env.json
application/src/main/java/com/sap/cap/productsservice/OAuthSAMLServlet.java
application/src/main/java/com/sap/cap/productsservice/BTPAzureProxyServletRFCECC.java
